#map-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-body
      img(src='images/map.jpg', alt='')


#login-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-header.popup-body.text--center
      h3.light Вход в личный кабинет
    .white-popup-body.popup-body
      form(action="" method="method")
        .form__group
          +fieldInput('text', 'name', 'Логин', true)
        .form__group.form__group--lg
          +fieldInput('password', 'name', 'Пароль', true)
        .form__group.form__group--lg.text--center
          .is-col__sm-6.centered-block
            button.btn.btn--full.btn__md.btn--primary(type='submit') Войти
        .form__group.text--center
          ul.list--inline
            li: a.text--primary(href='#') Регистрация
            li: a.text--grey(href='#') Забыли пароль?
