.main-services__item
  .main-services-header
    .main-services-header-l
      i.is-icons.is-icons--ico-serv-1
    .main-services-header-r
      h2 Заявление на карту водителя
      p  Заявление на выдачу карты водителя для тахографов с СКЗИ  
  .main-services-body
    h5 Приложения к заявлению: 
    p Вопросы о правильном заполнении заявления на карту водителя для тахографа  возникают у каждого второго, если не первого клиента. 
    p   Это подвигло меня написать статью о том как подготовить комплект документов для получения карты водителя для тахографа с СКЗИ.
  .main-services-footer
    .is-row.between__xs.middle__xs.margbot20
      .is-col Стоимость услуги:
      .is-col.main-services-price #[span 2 230] руб.
    a.btn.btn--primary.btn--full(href='#') Перейти к оформлению
.main-services__item
  .main-services-header
    .main-services-header-l
      i.is-icons.is-icons--ico-serv-2
    .main-services-header-r
      h2 Заявление на карту  предприятия   
      p  Заявление на выдачу карты водителя для тахографов с СКЗИ
  .main-services-body
    h5 Приложения к заявлению: 
    p Вопросы о правильном заполнении заявления на карту водителя для тахографа  возникают у каждого второго, если не первого клиента.  
    p  Это подвигло меня написать статью о том как подготовить комплект документов для получения карты водителя для тахографа с СКЗИ.
  .main-services-footer
    .is-row.between__xs.middle__xs.margbot20
      .is-col Стоимость услуги:
      .is-col.main-services-price #[span 2 230] руб.
    a.btn.btn--primary.btn--full(href='#') Перейти к оформлению
