//
// Modules -> Forms
// --------------------------------------------------


.label {
  display: block;
  margin: 5px 0 8px;
  font-weight: 400;
  color: $gray-darken-2;
}


input[type="search"] {
  @include box-sizing(border-box);
}




input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.control {
  display: block;
  width: 100%;
  height: 53px;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  &:hover {
    border-color: $color-type-4a;
  }
  .error {
    color: $color-type-2a;
    border-color: $color-type-2a;
  }
  @include form-control-focus;

  @include placeholder;

}

// Reset height for `textarea`s
textarea.control {
  height: auto;
  resize: none;
  font-family: $base-font-family;
}

select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;
  &:focus {
    background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
  }
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form__group {
  margin-bottom: $form-group-margin-bottom;
}


.search {
  margin-top: 20px;
  position: relative;
  input {
    color: $white-lighten;
    @include box-sizing(border-box);
    border: 1px solid #2661a9;
    padding-right: 50px;
    // background: url('../images/icons/search-base.svg') no-repeat center right 16px, #628fd1;
    background: #628fd1;
    &:active,
    &:focus {
      // background: url('../images/icons/search-base.svg') no-repeat center right 16px, #628fd1;
      background: #628fd1;
    }
  }
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;bottom: 0;
    right: 10px;
    &:hover i:before {
      background-position: -3.6em -10.06667em;
    }
    &:focus i:before,
    &:active i:before {
      background-position: -6.53333em -10.06667em;
    }
  }
}

// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;

  label {
    padding-left: 40px;
    margin: 0;
    cursor: pointer;
    line-height: 1.8;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 28px;
      height: 28px;
      border: 1px solid $input-border;
      background-color: $input-bg;
    }
  }
}

.checkbox {
  input[type="checkbox"] {display: none;}
}
.radio {
  input[type="radio"] {display: none;}
}
.checkbox label{
  &:after {
    @include border-radius(0);
  }
}
.radio label {
  &:after {
    @include border-radius(0);
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  background: url('../images/icons/icon-checkbox.svg') center center no-repeat, $input-bg;
}
.radio input[type="radio"]:checked + label:after {
  background: url('../images/icons/icon-checkbox.svg') center center no-repeat, $input-bg;
}


.radio + .radio,
.checkbox + .checkbox {
  margin-top: 20px;
}

.radio--inline,
.checkbox--inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 0;
  margin-left: 10px;
}

@if $use-input-group == true {
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    &[class*="cell-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
    }
    .control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .input-group--addon,
  .input-group--btn,
  .input-group .control {
    display: table-cell;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
  .input-group--addon,
  .input-group--btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .input-group--addon {
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-group-addon-bg;
    border: 1px solid $input-group-addon-border-color;
    border-radius: $border-radius-base;

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0;
    }
  }

  // Reset rounded corners
  .input-group .control:first-child,
  .input-group--addon:first-child,
  .input-group--btn:first-child > .btn,
  .input-group--btn:first-child > .btn-group > .btn,
  .input-group--btn:last-child > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  .input-group--addon:first-child {
    border-right: 0;
  }
  .input-group .control:last-child,
  .input-group--addon:last-child,
  .input-group--btn:last-child > .btn,
  .input-group--btn:last-child > .btn-group > .btn,
  .input-group--btn:first-child > .btn:not(:first-child),
  .input-group--btn:first-child > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  .input-group--addon:last-child {
    border-left: 0;
  }

  .input-group--btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;

    > .btn {
      position: relative;
      + .btn {
        margin-left: -1px;
      }
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }
    &:first-child {
      > .btn,
      > .btn-group {
        margin-right: -1px;
      }
    }
    &:last-child {
      > .btn,
      > .btn-group {
        z-index: 2;
        margin-left: -1px;
      }
    }
  }
}
