//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  color: $white-lighten;
  &--top {
    background-color: #3c6baf;
    padding: 25px 0;
    ul {
      a {
        color: $white-lighten;
      }
    }
    span, i {
      vertical-align: middle;
    }
    i {
      margin-right: 15px;
    }
  }
  &--bottom {
    background-color: #292f45;
    padding: 15px 0;
  }
}
