//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  padding: 10px 0 60px;
  display: flex;
  justify-content: space-between;
  background: url('../images/sub-left.png') no-repeat left bottom, url('../images/sub-right.png') no-repeat right top, #3c6baf;
  &__logo {
    a {text-decoration: none;}
    img {
      vertical-align: middle;
    }
  }
  &--main {
    padding: 12px 0 0;
    position: absolute;
    top: 0;left: 0;right: 0;
    z-index: 11;
    background: transparent;
  }
}
//
// Main title
//
.title {
  font-size: 55px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 40px;
}


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
