//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}
.page-main {
  min-height: calc(100vh - 316px);
}

.ico-title {
  display: flex;
  align-content: center;
  i {
    margin-right: 15px;
  }
}

//
// Main container
//
.main {
  &-services {
    padding: 50px 0 20px;
    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 47%;
      margin-bottom: 30px;
      border-radius: 10px;
      border: 1px solid #eef1f8;
    }
    &-header {
      padding: 25px 25px 0 25px;
      display: flex;
      align-items: center;
      height: 120px;
      &-l {
        margin-right: 25px;
      }
      &-r {

      }
    }
    &-body {
      margin: auto;
      border-top: 1px solid #eef1f8;
      border-bottom: 1px solid #eef1f8;
      padding: 25px;
    }
    &-footer {
      padding: 25px;
      margin-top: auto;
    }
    &-price {
      span {
        font-weight: 600;
        font-size: 26px;
      }
    }
  }
  &-achievements {
    padding: 50px 0;
    background-color: #eff1f8;
    p {
      color: #5f5f5f;
    }
    img + span {
      margin-left: 20px;
    }
    &__item {
      & + & {
        margin-top: 50px;
      }
    }
  }
  &-faq {
    padding: 50px 0;
  }
}


.file_upload{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input[type=file]{
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     transform: scale(20);
     letter-spacing: 10em;     /* IE 9 fix */
     -ms-transform: scale(20); /* IE 9 fix */
     opacity: 0;
     cursor: pointer
   }
}



.catalog {
  padding-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
}

.nowrap__xs {
  flex-wrap: nowrap;
}

.margtop20 {
  margin-top: 20px;
}
.margleft20 {
  margin-left: 20px;
}
.margtop30 {
  margin-top: 30px;
}

.margbot20 {
  margin-bottom: 20px;
}

.margbot40 {
  margin-bottom: 40px;
}
