//
// Modules -> Navs
// --------------------------------------------------

.sub-nav {
  text-align: center;
  li {
    display: block;
    // a:hover {
    //   background: $subnav-link-hover-bg;
    // }
  }

  @if $use-adaptive == true {
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
      position: absolute;
      background: $gray-darken;
      top: 100%;
      right: 0;
      min-width: 200px;
      li:hover & {
        display: block; 
      }
    }
  } @else {
    display: none;
    position: absolute;
    background: $white-lighten;
    z-index: 11;
    top: 100%;
    left: 0;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    min-width: 230px;
    a {
      padding: 0;
      text-decoration: underline;
      color: #5f5f5f;
      font-size: 15px;
      font-weight: 400;
      line-height: 2;
      &:hover {
        color: #2d6ab5;
        text-decoration: underline;
      }
      &:focus,
      &:active {
        color: #65d5ff;
      }
    }
    li:hover & {
      display: block;
    }
  }
}

.main-nav {
  margin: 0 -10px;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
    &--parent {
      &:hover > a {
        color: #2d6ab5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: $white-lighten;
      }
    }
  }
  &__link {
    letter-spacing: 0.21px;
    position: relative;
    padding: $nav-link-padding;
    display: block;
    color: $white-lighten;
    font-size: 21px;
    @if $use-adaptive == true {
      background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
      }
    } @else {
      background-color: transparent;
    }
    &:hover, &:focus {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      float: right;
      padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media screen and (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}
