//
// Pages -> Index
// ------------------------------------

.banner {
  color: $white-lighten;
  background: url('../images/main-left.png') no-repeat left bottom, url('../images/main.png') no-repeat right bottom, #3c6baf;
  padding: 190px 0 50px;
}

.news {
  padding-bottom: 70px;
  &-one {
    padding-bottom: 70px;
    p {
      margin-bottom: 30px;
    }
    img {width: 100%;}
  }
  &__item {
    padding: 20px;
    border: 1px solid #eef1f8;
    margin-bottom: 15px;
    h5 {
      margin-bottom: 20px;
    }
  }
}

.help {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    > li {
      line-height: 1.4;
      &::before {
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        background-color: $base-color-light;
        margin-right: 7px;
      }
    }
  }
}

.ribbon {
  padding: 30px 0;
  margin: 30px 0;
  color: $white-lighten;
  background-color: $base-color-light;
}

.form {
  padding-bottom: 70px;
}

.sitemap {
  padding-bottom: 70px;
  a:not(.toggle) {
    color: $color-type-4a;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.searchres {
  background-color: #3c6baf;
  color: $white-lighten;
  padding: 25px 0;
  &-form {
    display: flex;
    margin-bottom: 15px;
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.searchlist {
  padding-bottom: 70px;
  &__item {
    padding: 25px 0;
    border-bottom: 1px solid #ebebeb;
    a {
      color: #2d6ab5;
      text-decoration: underline;
      &:hover {
        color: #00aeef;
      }
    }
  }
}

.custom-content {
  height: 350px;
  margin: 25px 0;
  &-inner {
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
    p {
      margin-bottom: 20px;
    }
  }
}

.step {
  padding-bottom: 70px;
  &-form {
    padding: 50px;
    margin: 15px 0;
    border-radius: 10px;
    background: url('../images/step-form.png') no-repeat right 24px center, $base-color-light;
    .label {
      color: $white-lighten;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      background-color: #5590d7;
    }
  }
  &-data {
    height: 628px;
    border-radius: 10px;
    background-color: #e8e8e8;
    margin: 20px 0;
  }
  h2 {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  &-menu {
    border-bottom: 4px solid #f1f1f1;
    margin: 20px 0;
    &-inner {
      display: flex;
      align-content: flex-start;
    }
    &__item {
      display: flex;
      align-content: center;
      width: calc(100% / 6);
      position: relative;
      bottom: -4px;
      padding: 14px 0;
      border-bottom: 4px solid $color-type-4a;
      &:nth-last-child(2) {
        width: 18%;
      }
      &-title {
        align-self: center;
        color: #8f8f8f;
        margin-left: 10px;
        .active & {
          color: $black;
        }
      }
      &-num {
        width: 43px;
        height: 43px;
        line-height: 38px;
        text-align: center;
        display: block;
        border-radius: 50px;
        color: #b7b7b7;
        border: 2px solid #cccccc;
        .active & {
          color: $white-lighten;
          background-color: $color-type-4a;
          border-color: $color-type-4a;
        }
      }
    }
  }
}
.breakline {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
.checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  p {line-height: 1.2;}
  .radio {
    width: 32%;
    + .radio {
      margin-top: 0;
    }
  }
  label {
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    position: relative;
    padding: 20px 20px 30px 100px;
    &::after {
      top: 20px;
      left: 20px;
    }
  }
  a {
    color: #5590d7;
  }
  .price {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 7px 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $white-lighten;
    background-color: $color-type-4a;
    span {
      font-size: 21px;
      font-weight: 600;
    }
  }
  input[type="radio"]:checked + label {
    background-color: #5590d7;
    color: $white-lighten;
    .price {
      color: $black;
      background-color: $white-lighten;
    }
    a {color: $white-lighten;}
    i::before {
      background-position: -0.66667em -13em;
    }
  }
}
