footer.page-footer.text--center
  .page-footer--top
    .container
      .is-row.between__xs
        .is-col.is-col__xs-5
          ul.list--inline
            li
              a(href='#')
                i.is-icons.is-icons--footer-menu-1
                span О портале
            li
              a(href='#')
                i.is-icons.is-icons--footer-menu-2
                span Помощь
            li
              a(href='#')
                i.is-icons.is-icons--footer-menu-3
                span Карта сайта
        .is-col.is-col__xs-3
          span Разработка сайта:  #[a.text--info(href='#') AlkoDesign]
  .page-footer--bottom
    .container
      span Портал "Система сбора персональных данных" #[span.text--primary © Site 2017]
