header.page-header.page-header--main
    .container
        .is-row.between__xs.bottom__xs
          .is-col.is-col__xs-3
            .page-header__logo
                a(href="/")
                    img(src="images/logo.svg", alt="Think")
          .is-col.is-col__xs-9
            include ../components/_navbar
            form.search(action="" method="method")
              input.control(type='text')
              button(type='submit')
                i.is-icons.is-icons--search-base
