$icons: (
	  sprite: (width: 255px, height: 222px, svgPath: '../images/svg/sprite.svg'),
 	btnarr-active: (width: 16px, height: 27px, backgroundX: -151px, backgroundY: -94px),
 	btnarr-base: (width: 16px, height: 27px, backgroundX: -151px, backgroundY: 0px),
 	btnarr-hover: (width: 16px, height: 27px, backgroundX: -151px, backgroundY: -47px),
 	btnarr-mini: (width: 7px, height: 10px, backgroundX: -226px, backgroundY: -32px),
 	btnarr-mini-prev: (width: 9px, height: 12px, backgroundX: -226px, backgroundY: 0px),
 	close: (width: 43px, height: 43px, backgroundX: -77px, backgroundY: -74px),
 	footer-menu-1: (width: 14px, height: 15px, backgroundX: -187px, backgroundY: -150px),
 	footer-menu-2: (width: 9px, height: 17px, backgroundX: -187px, backgroundY: -76px),
 	footer-menu-3: (width: 14px, height: 18px, backgroundX: -187px, backgroundY: -38px),
 	ico-load: (width: 18px, height: 20px, backgroundX: -132px, backgroundY: -141px),
 	ico-print: (width: 19px, height: 18px, backgroundX: -187px, backgroundY: 0px),
 	ico-serv-1: (width: 54px, height: 54px, backgroundX: 0px, backgroundY: -67px),
 	ico-serv-2: (width: 57px, height: 47px, backgroundX: 0px, backgroundY: 0px),
 	ico-title: (width: 54px, height: 54px, backgroundX: -77px, backgroundY: 0px),
 	loc-base: (width: 16px, height: 17px, backgroundX: -187px, backgroundY: -113px),
 	loc-hover: (width: 16px, height: 17px, backgroundX: 0px, backgroundY: -185px),
 	search-active: (width: 24px, height: 24px, backgroundX: -88px, backgroundY: -141px),
 	search-base: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -141px),
 	search-hover: (width: 24px, height: 24px, backgroundX: -44px, backgroundY: -141px),
 	selectarr: (width: 14px, height: 10px, backgroundX: -36px, backgroundY: -185px),
);
