main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section.catalog
    .container
      h3= title
      .main-services-inner
        - for (var x = 1; x < 4; x++)
          include ../components/_services
