main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section.help
    .container
      h3= title
      p
        a.text--primary(href='#') Порядок подачи и обработки обращений в службу поддержки 
      p Служба помощи осуществляет консультирование пользователей по предоставлению электронных услуг, в том числе: 
      ul.list--unstyled
        li Заполнению электронных форм; 
        li Решению технических сложностей.
      p: b Если у вас есть вопрос и требуется консультация, пожалуйста, заполните форму ниже.  
  section.ribbon
    .container
      span Мы отвечаем с 10:00 до 19:00 мск с понедельника по пятницу, кроме праздничных дней РФ.  #[br] Среднее время ответа — около 4 рабочих часов.
  section.form
    .container
      form.is-col__xs-10(action="" method="method")
        .form__group: +fieldInput('text', 'name', 'name', 'Введите ваше ФИО:', true)
        .form__group: +fieldInput('email', 'mail', 'mail', 'Введите ваше Email:', true)
        .form__group: +fieldTextarea('text', 'text', 'Ваше сообщение:', '7', true)
        .form__group
          button.btn.btn--info.text--none(type='submit') Задать вопрос
