main.page-main
  section.banner
    .container
      .is-col__xs-8
        .title Программа подготовки  документов 
        p.text__lg.margbot40 Самый простой способ обмениваться юридически значимыми счетами-фактурами и другими электронными документами через интернет.
        a.btn.btn--outlined.btn__lg(href='#') 
          span Подробнее
          i.is-icons.is-icons--btnarr-base
  section.main-services
    .container
      h3 Список доступных услуг
      .main-services-inner
        include ../components/_services
  section.main-achievements
    .container
      .main-achievements__item
        h3 Наши достижения
        .is-row.middle__xs
          .is-col.is-col__xs-4
            .is-row.is-row--null.middle__xs.nowrap__xs
              img(src='images/ico-aciev-1.png')
              span Выдали новых - ХХХХ карт 
          .is-col.is-col__xs-4
            .is-row.is-row--null.middle__xs.nowrap__xs
              img(src='images/ico-aciev-2.png')
              span Переоформили - ХХХХ карт 
          .is-col.is-col__xs-4
            .is-row.is-row--null.middle__xs.nowrap__xs
              img(src='images/ico-aciev-3.png')
              span Оформляем цифровые карты  тахографа - 3 года 
      .main-achievements__item
        h3 Доставка
        ul.list--bullet 
          li Оформление и доставка до пункта выдачи - от ХХХ рублей.
          li  Доставка до пункта выдачи осуществляется на условиях 100% предоплаты  
  section.main-faq
    .container
      h3 Остались вопросы?
      ul.list--bullet
        li Чаво 
        li Закажите обратный звонок (Чат с оператором)
        li  Форма обратной связи
      
