main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section.news-one
    .container
      h3= title
      .is-row.middle__xs
        .is-col.is-col__xs-5
          a(href='#'): img(src='images/news-one.jpg', alt='')
        .is-col.is-col__xs-7
          p #[b Получение водительских прав - вот цель], которую ставит каждый, кто идет записываться в автошколу. Каждый ученик автошколы мечтает понять, как сдать же экзамен в ГИБДД и получить права с первого раза, тем самым сэкономив свои нервы и время.   
          p Но, к сожалению, какой-то единой схемы не существует. Каждое учебное заведение, так же как и каждый экзаменатор имеют свои особенности. Учесть все не возможно, но можно повысить свои шансы на успешную сдачу с первого раза при помощи уроков вождения с профессиональным водителем и, тем самым приблизить момент получения заветных водительских прав.
          blockquote Мы ставим себе задачу ответить на все Ваши вопросы - как получить водительские права, где получают права, сколько стоит получить права и т.п. И главное - поселить в вашей голове чувство спокойствия и уверенности за рулем. А так же оказать максимально возможное содействие и помощь в скорейшем получении водительских прав.
