main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section.news
    .container
      h3= title
      .news-inner
        - for (var x = 1; x < 8; x++)
          .news__item
            .is-row.middle__xs
              .is-col.is-col__xs-2
                a(href='#'): img(src='images/news-img.jpg', alt='')
              .is-col.is-col__xs-10
                h5 Теперь вы можете оплатить наши услуги с помощью своей банковской карты прямо  на нашем сайте! 
                p Наша компания подключила интернет-эквайринг компании Uniteller. Теперь вы можете оплатить...
                a.text--success(href='#')  Читать подробнее
