main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      h3= title
  section.searchres
    .container
      form.searchres-form(action="#" method="method")
        input.control(type='search')
        button.btn.btn--info.text--none(type='submit') Поиск
      span Результаты поиска:  #[span.text--info 3]
  section.searchlist
    .container
      - for (var x = 1; x < 4; x++)
        .searchlist__item
          h2: a(href='#') Помощь
          p  Служба помощи осуществляет консультирование пользователей по предоставлению электронных услуг, в том числе:
