main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section.sitemap
    .container
      h3= title
      ul.accordion.accordion--success
        li: a.toggle(href='/') Главная страница
        li: a.toggle(href='/')   О портале
        li
           a.toggle.show(href='/')   Услуги   
           .inner.show             
             p: a(href='#') Услуга 1 
             p: a(href='#') Услуга 2
        li: a.toggle(href='/')   Оплата услуг
        li: a.toggle(href='/')   Лицензии  
        li
          a.toggle.show(href='/')     Помощь 
          .inner.show
            p: a(href='#') Порядок подачи и обработки обращений в службу технической поддержки
