main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Соглашение о подаче заявления
  section.ribbon
    .container Пожалуйста, прочтите следующую важную информацию перел тем, как начать работу
  section.step
    .container
      form(action="" method="method")
        .custom-content
          .custom-content-inner
            p: b Соглашение на обработку персональных данных: 
            p Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте ХХХ.ru, (далее – Сайт), путем заполнения полей онлайн-заявки (оформления ЗАЯВКИ)
            p: b   Пользователь:
            p  подтверждает, что указанные им персональные данные принадлежат лично ему; признает и подтверждает, что он внимательно и в полном объеме ознакомился с настоящим Соглашением и содержащимися в нем условиями обработки его персональных данных, указываемых им в полях он-лайн заявки (регистрации) на Сайте; признает и подтверждает, что все положения настоящего Соглашения и условия обработки его персональных данных ему понятны;
            p   дает согласие на обработку Сайтом предоставляемых персональных данных в целях регистрации Пользователя на Сайте; выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений. Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.  
            p Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным. Настоящее согласие Пользователя применяется в отношении обработки следующих персональных данных:  фамилия, имя, отчество; номера телефонов; адресах электронной почты (E-mail). 
            p Пользователь, предоставляет сервису ХХХ.ru право осуществлять следующие действия (операции) с персональными данными:  сбор и накопление; хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования услуг Сайта Пользователем; уточнение (обновление, изменение); 
            p использование в целях регистрации Пользователя на Сайте; уничтожение; передача по требованию суда, в т.ч. третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа. Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Вами путем подачи заявления администрации Сайта с указанием данных, определенных ст. 14 Закона «О персональных данных».  Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail) logo@ХХХ.ru
            p   Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами.  Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.  Действующая редакция всегда находится на странице по адресу: ХХХ.ru/agreement  К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения подлежит применению материальное и процессуальное право Российской Федерации.
        .form__group: +fieldCheckbox('Я прочитал и принимаю условия пользовательского соглашения', 'check1', false)
        .form__group: +fieldCheckbox('Я даю согласие на обработку персональных данных', 'check2', false)
        .form__group: +fieldCheckbox('Я даю согласие на получение рекламных материалов', 'check3', false)
        .form__group
          button.btn.btn--info(type='submit') Перейти к оформлению заявки
      
