main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Документ, удостоверяющие личность
  section.step-menu
    .container
      .step-menu-inner
        .step-menu__item
          div: .step-menu__item-num 1
          .step-menu__item-title Основание  подачи  
        .step-menu__item
          div: .step-menu__item-num 2
          .step-menu__item-title Предприятие
        .step-menu__item
          div: .step-menu__item-num 3
          .step-menu__item-title Водитель
        .step-menu__item
          div: .step-menu__item-num 4
          .step-menu__item-title Документ
        .step-menu__item
          div: .step-menu__item-num 5
          .step-menu__item-title Водительское  удостоверение
        .step-menu__item.active
          div: .step-menu__item-num 6
          .step-menu__item-title Проверка данных
  section.step
    .container
      form(action="" method="method")
        .step-data
        .is-row.between__xs.margtop20
          .is-col
            button.btn.btn--default.text--none.btn--ico
              i.is-icons.is-icons--btnarr-mini-prev
              span Назад
          .is-col
            button.btn.btn--info.text--none.btn--ico
              span Перейти к оплате
              i.is-icons.is-icons--btnarr-mini
