main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Подтверждение контактных данных
  section.step
    .container
      form(action="" method="method")
        .step-form
          .is-col__xs-6
            .form__group: +fieldInput('text', 'phone', 'phone', 'Телефон', false)
            .form__group: +fieldInput('email', 'mail', 'mail', 'Email', false)
            .form__group
              label.label Отправить проверочный код
              select.control
                  option Email
                  option Телефон
          .is-col__xs-4
            .form__group.margtop30
              button.btn.btn--info.text--none.btn--full(type='submit') Далее
      
