main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Водитель
  section.step-menu
    .container
      .step-menu-inner
        .step-menu__item
          div: .step-menu__item-num 1
          .step-menu__item-title Основание  подачи  
        .step-menu__item
          div: .step-menu__item-num 2
          .step-menu__item-title Предприятие
        .step-menu__item.active
          div: .step-menu__item-num 3
          .step-menu__item-title Водитель
  section.step
    .container
      form(action="" method="method")
        .form__group.is-col__xs-6: +fieldInputReq('text', 'surname', 'surname', 'Фамилия', true)
        .form__group.is-col__xs-6: +fieldInputReq('text', 'name', 'name', 'Имя', true)
        .form__group.is-col__xs-6: +fieldInput('text', 'cname', 'cname', 'Отчество:', false)
        .form__group
          label.label Фотография#[sup.text--danger *]:
          .file_upload
            .is-col__xs-3
              button.btn.btn--full.btn--default.text--none.btn_js Выбрать файл
            .is-col__xs-3.input__text-js.text--danger - Файл не выбран
            .is-col__xs-5.text--default Формат файла - JPG, PNG. Максимальный размер файла не  должен превышать более 2 Мб
            input.input__file-js(type='file', accept="image/png,image/jpeg", required)
        .form__group
          label.label Изображение подписи#[sup.text--danger *]:
          .file_upload
            .is-col__xs-3
              button.btn.btn--full.btn--default.text--none.btn_js Выбрать файл
            .is-col__xs-3.input__text-js.text--danger - Файл не выбран
            .is-col__xs-5.text--default Формат файла - JPG, PNG. Максимальный размер файла не  должен превышать более 2 Мб
            input.input__file-js(type='file', accept="image/png,image/jpeg", required)
        .form__group.is-col__xs-3: +fieldInputReq('date', 'date', 'date', 'Дата рождения', true)
        .breakline
          .is-row.between__xs.margtop20
            .is-col
              button.btn.btn--default.text--none.btn--ico
                i.is-icons.is-icons--btnarr-mini-prev
                span Назад
            .is-col
              button.btn.btn--info.text--none.btn--ico
                span Далее
                i.is-icons.is-icons--btnarr-mini
