main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
  section.step
    .container
      form(action="" method="method")
        .step-info.margtop20
          .form__group
            button.btn.btn--success Услуга оплачена!
          p.text__md   № заказа: 74925865 О 
          p.margbot20 готовности заявки вы будете проинформированы по телефону. #[br]  В случае обнаружения ошибки данных вы будете проинформированы через СМС и электронную почту. #[br]  Вам будет выслана ссылка для корректировки данных по заявке.
        .breakline
          .is-row
            .is-col
              button.btn.btn--info.text--none.btn--ico.btn--ico--mini
                i.is-icons.is-icons--ico-load
                span Скачать заявление
            .is-col.margleft20
              button.btn.btn--info.text--none.btn--ico.btn--ico--mini
                i.is-icons.is-icons--ico-print
                span Распечатать заявление
