main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Документ, удостоверяющие личность
  section.step-menu
    .container
      .step-menu-inner
        .step-menu__item
          div: .step-menu__item-num 1
          .step-menu__item-title Основание  подачи  
        .step-menu__item
          div: .step-menu__item-num 2
          .step-menu__item-title Предприятие
        .step-menu__item
          div: .step-menu__item-num 3
          .step-menu__item-title Водитель
        .step-menu__item.active
          div: .step-menu__item-num 4
          .step-menu__item-title Документ
  section.step
    .container
      form(action="" method="method")
        .form__group.is-col__xs-6: +fieldInput('text', 'count', 'count', 'Гражданство:', false)
        .form__group.is-col__xs-6
          label.label Вид документа:
          select.control
            option Паспорт
            option Паспорт
        .is-row
          .is-col.is-col__xs-3.form__group: +fieldInput('text', 'doc1', 'doc1', 'Серия:', false)
          .is-col.is-col__xs-3.form__group: +fieldInput('text', 'doc2', 'doc2', 'Номер:', false)
        .is-col__xs-6.form__group: +fieldInput('text', 'how', 'how', 'Кем выдан:', false)
        .is-col__xs-3.form__group: +fieldInputReq('date', 'date', 'date', 'Дата выдачи', true)
        .is-col__xs-3.form__group: +fieldInputReq('text', 'code', 'code', 'Код подразделения', true)
        .form__group
          label.label Паспорт РФ#[sup.text--danger *]:
          .file_upload
            .is-col__xs-3
              button.btn.btn--full.btn--default.text--none.btn_js Выбрать файл
            .is-col__xs-3.input__text-js.text--danger - Файл не выбран
            .is-col__xs-5.text--default Формат файла – JPG, PDF, PNG, DOC, DOCX, XLS, XLSX. Максимальный размер файла не должен превышать  более 2 Мб
            input.input__file-js(type='file', required)
        .breakline
          .form__group.is-col__xs-6: +fieldInputReq('text', 'snils', 'snils', 'СНИЛС', true)
        .breakline
          .form__group.is-col__xs-6: +fieldInputReq('text', 'inn', 'inn', 'ИНН', true)
          .form__group
            label.label Изображение подписи#[sup.text--danger *]:
            .file_upload
              .is-col__xs-3
                button.btn.btn--full.btn--default.text--none.btn_js Выбрать файл
              .is-col__xs-3.input__text-js.text--danger - Файл не выбран
              .is-col__xs-5.text--default Формат файла – JPG, PDF, PNG, DOC, DOCX, XLS, XLSX. Максимальный размер файла не должен превышать  более 2 Мб
              input.input__file-js(type='file', required)
          .is-row.between__xs.margtop20
            .is-col
              button.btn.btn--default.text--none.btn--ico
                i.is-icons.is-icons--btnarr-mini-prev
                span Назад
            .is-col
              button.btn.btn--info.text--none.btn--ico
                span Далее
                i.is-icons.is-icons--btnarr-mini
