main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Предприятие
  section.step-menu
    .container
      .step-menu-inner
        .step-menu__item
          div: .step-menu__item-num 1
          .step-menu__item-title Основание  подачи  
        .step-menu__item.active
          div: .step-menu__item-num 2
          .step-menu__item-title Предприятие
  section.step
    .container
      form(action="" method="method")
        .form__group.margtop30: +fieldCheckbox('Наличие работы', 'check1', false)
        .form__group.is-col__xs-8: +fieldInputReq('text', 'tr', 'tr', 'Наименование транспортного предприятия', true)
        h2 Почтовый адрес:
        .breakline
          .form__group.is-col__xs-3: +fieldInput('text', 'postcode', 'postcode', 'Почтовый индекс:', false)
          .is-col__xs-8
            .form__group
              label.label Регион#[sup.text--danger *]:
              select.control
                option Регион
                option Регион
                option Регион
                option Регион
            .form__group: +fieldInput('text', 'district', 'district', 'Район:', false)
            .form__group: +fieldInputReq('text', 'city', 'city', 'Населенный пункт', true)
            .form__group: +fieldInput('text', 'street', 'street', 'Улица:', false)
          .is-row
            .form__group.is-col.is-col__xs-3: +fieldInput('text', 'house', 'house', 'Дом (или а/я):', false)
            .form__group.is-col.is-col__xs-3: +fieldInput('text', 'house2', 'house2', 'Корпус:', false)
            .form__group.is-col.is-col__xs-3: +fieldInput('text', 'house3', 'house3', 'Строение:', false)
            .form__group.is-col.is-col__xs-3: +fieldInput('text', 'flat', 'flat', 'Квартира/офис:', false)
        .breakline
          .is-row.between__xs.margtop20
            .is-col
              button.btn.btn--default.text--none.btn--ico
                i.is-icons.is-icons--btnarr-mini-prev
                span Назад
            .is-col
              button.btn.btn--info.text--none.btn--ico
                span Далее
                i.is-icons.is-icons--btnarr-mini
