main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
      h2 Документ, удостоверяющие личность
  section.step-menu
    .container
      .step-menu-inner
        .step-menu__item
          div: .step-menu__item-num 1
          .step-menu__item-title Основание  подачи  
        .step-menu__item
          div: .step-menu__item-num 2
          .step-menu__item-title Предприятие
        .step-menu__item
          div: .step-menu__item-num 3
          .step-menu__item-title Водитель
        .step-menu__item
          div: .step-menu__item-num 4
          .step-menu__item-title Документ
        .step-menu__item.active
          div: .step-menu__item-num 5
          .step-menu__item-title Водительское  удостоверение
  section.step
    .container
      form(action="" method="method")
        .form__group.is-col__xs-6
          label.label Страна выдачи#[sup.text--danger *]:
          select.control
            option РФ
            option РФ
        .is-col__xs-6.form__group: +fieldInputReq('text', 'doc2', 'doc2', 'Номер', true)
        .is-col__xs-6.form__group: +fieldInputReq('text', 'how', 'how', 'Кем выдан', true)
        .is-col__xs-3.form__group: +fieldInputReq('date', 'date', 'date', 'Дата выдачи', true)
        .is-col__xs-3.form__group: +fieldInputReq('date', 'date', 'date', 'Действительно до', true)
        .form__group
          label.label Водительское удостоверение:
          .file_upload
            .is-col__xs-3
              button.btn.btn--full.btn--default.text--none.btn_js Выбрать файл
            .is-col__xs-3.input__text-js.text--danger - Файл не выбран
            .is-col__xs-5.text--default Формат файла – JPG, PDF, PNG, DOC, DOCX, XLS, XLSX. Максимальный размер файла не должен превышать более 2 Мб
            input.input__file-js(type='file')
        .breakline
          .is-row.between__xs.margtop20
            .is-col
              button.btn.btn--default.text--none.btn--ico
                i.is-icons.is-icons--btnarr-mini-prev
                span Назад
            .is-col
              button.btn.btn--info.text--none.btn--ico
                span Далее
                i.is-icons.is-icons--btnarr-mini
