main.page-main
  section
    .container
      include ../components/_breadcrumbs
  section
    .container
      .ico-title
        i.is-icons.is-icons--ico-title
        h3= title
  section.step-menu
    .container
      .step-menu-inner
        .step-menu__item.active
          div: .step-menu__item-num 1
          .step-menu__item-title Основание  подачи  
  section.step
    .container
      form(action="" method="method")
        h2 Основание подачи
        .breakline
          .form__group: +fieldCheckbox('Первичная выдача карты', 'check1', false)
        .breakline
          .form__group: +fieldCheckbox('Замена в связи с истечением срока действия карты', 'check2', true)
        .breakline
          .form__group: +fieldCheckbox('Замена в связи с дефектом, утерей или утратой карты', 'check3', false)
        .breakline
          .form__group: +fieldCheckbox('Замена карты вследствие изменения персональных данных', 'check4', false)
        .breakline
          .form__group.is-col__xs-6: +fieldInput('text', 'num', 'num', 'Номер ранее выданной карты:', false)
        .breakline
          h2 Выбрать пункт выдачи
          .form__group.is-col__xs-6
            label.label Субъект РФ#[sup.text--danger *]:
            select.control
              option(selected, disabled) Выберите из списка
              option Выберите из списка
              option Выберите из списка
          .checklist
            - for (var x = 1; x < 7; x++)
              .radio
                input(type="radio", id='list-'+x, name='list')
                label.label(for='list-'+x)
                  .price #[span 250] p.
                  p Санкт-Петербург #[br]  Ул.Кантемировская, д. 33  #[br] 
                    b Телефон: (812) 232-3333
                  a.popup(href='#map-id')
                    i.is-icons.is-icons--loc-base
                    span Посмотреть на карте
          .text--right.margtop20
            button.btn.btn--info.text--none.btn--ico
              span Далее
              i.is-icons.is-icons--btnarr-mini
