extends layouts/_default

block title
    title Case__fly
    - var title = 'Заявление на карту водителя'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_step-02

block siteFooter
    include partials/_footer
